<div id="myWishlist" >

    <div data-role="header">
        <h1>My Wishlist</h1>
    </div>

    <div data-role="content">
        <h2>My Wishlist is going to be here!!! YEAH!!!</h2>
    </div>

    <div data-role="footer" data-position="fixed" >
        <div data-role="navbar" >
            <ul>
                <li><a href="#mymovies">My Movies</a></li>
                <li><a href="#mywishlist" class="ui-btn-active ui-state-persist" >My Wishlist</a></li>
            </ul>
        </div>
    </div>

</div>